body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(185, 164, 164);
}

.container {
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(2, 107, 2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid green;
    display: flex;
    justify-content: space-between;
}

li:last-child {
    border-bottom: none;
}

.done {
    text-decoration: none;
    color: gray;
}